---
import Footer from '../components/Footer.astro';
import swiss from '../images/swissJd.jpg';
import pysch from '../images/pyschJean.jpg';
import '../styles/posterStyles.css';
---

<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
		<!-- Other head elements -->
		<title>Artists Posters</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<script type="module" src="/src/script.js"></script>
    </head>
    <body>
		<section class="container">
            <a href="/works"><i class="fa fa-arrow-left fa-3x backArrow" aria-hidden="true"></i></a>
            <div class="mainCont">
				<p class="mainTitle">Artist Poster Design</p>
					<p class="body"> 
                        For this project I created two gig posters for an artist of my choice fora class. 
						My posters were based on the various swiss designs from the 1950s through the 1960s 
						as well as rock n roll posters from the 1960s and 1970s. Swiss posters of this 
						time-period and geography represent a breakthrough in the modernist design aesthetic.
					</p>
                    <div id="thePosters">
                        <img src={swiss.src} width={swiss.width} height={swiss.height} alt="log-in screen capture" id="img1">
                        <img src={pysch.src} width={pysch.width} height={pysch.height} alt="home screen capture" id="img2">
                    </div>
				</div>
            <Footer></Footer>
		</section>
    </body>
</html>