---
import Footer from '../components/Footer.astro';
import appImg from '../images/spotifyApp.jpg'
import b4Img from '../images/spotifyBefre.png'
import mockUps from '../images/mockupsSpot.jpg'
import logo from '../images/spotifyLogo.png'
import '../styles/spotifyRe.css'
---


<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
		<!-- Other head elements -->
		<title>Spotify Redesign</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<script type="module" src="/src/script.js"></script>
    </head>
    <body>
		<section class="container">
			<a href="/works"><i class="fa fa-arrow-left fa-3x backArrow" aria-hidden="true"></i></a>
			<!-- <img src={logo.src} width={logo.width} height ={logo.height} alt="Spotify Desktop App" id="mainImg"> -->
            <div class="mainCont">
				<p class="mainTitle">Spotify Redesign</p>
                <p class="subTitle"></p>
                <p class="body"> 
                    I find pleasure in using Spotify on my desktop, whether it's during work, 
                    study sessions, or gaming. As I study Ux more and more, the user interface (UI) of their 
                    homepage has been off to me. The absence of a clear visual 
                    hierarchy and the overall crowded and tight layout contribute to a less-than-ideal 
                    user experience. Music listening is often about immersing oneself in a particular 
                    mindset or finding relaxation, and a cluttered UI can pose challenges in achieving 
                    that desired state.
                </p>
                <img src={b4Img.src} width={b4Img.width} height ={b4Img.height} alt="Spotify Desktop App Before" class="appShots">
                <p class="body">
                    As You can see in the picture above, The design has a lot going on with the various modules 
                    and panels. This can lead to overloading the user, which can lead to them stopping their usage 
                    of the application.
                </p>
                <img src={mockUps.src} width={mockUps.width} height ={mockUps.height} alt="Mocks Ups" class="appShots">
                <img src={appImg.src} width={appImg.width} height ={appImg.height} alt="Mocks Ups" class="appShots">
                <p class="body">
                    Above, you can see the process I went through to get the final product. To fix the hierarchical issue,
                     I made a big banner section on the top that is supported by 2 smaller section on the bottom. The line 
                     of reasoning is much easier to track this way. I simplified the side bar and the over all design of the 
                     site to make it much easier for the user to traverse.
                </p>
			</div>
            <Footer></Footer>
		</section>
    </body>
</html>